h1 {
    color: darkblue;
    text-align: center;
    font-size: 150px;
}
p {background-color: blue;
color: cornsilk;
display: inline-block;
width: 500px;
height: 200px;
padding: 5px 0 5px 0;
margin: 20px;
text-align: center;
margin-left: 500px;

}